@font-face {
	font-family: Bokonique;
	src: url(fonts/Bokonique-Bold.otf);
	font-weight: bold;
}

@font-face {
	font-family: Bokonique;
	src: url(fonts/Bokonique-Light.otf);
	font-weight: lighter;
}

@font-face {
	font-family: Bokonique;
	src: url(fonts/Bokonique-Regular.otf);
	font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

body {
	margin-left: 10%;
	margin-right: 10%;
	font-family: Bokonique;
	color: black;
	scroll-behavior: smooth;
	overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}


.header {
	margin-top: 72px;
	transition: 1s;

}

div.conteiner {
	max-width: 1307px;
	margin: 0 auto;

}

div.nav {
	display: flex;
	margin: 0 auto;
	align-items: center;


}

img.logo {
    width: 70px;
    height: 59px;

}

ul.nav {
	list-style-type: none;
	text-decoration: none;
	display: flex;
	margin-left: 112px;



}

li.nav a {
	text-decoration: none;
	margin-left: 30px;
	color: black;
	font-weight: bold;
	font-size: 18px;
	transition: 0.5s;
	
}

li.nav a:hover {
	color: #E9A5A5;
	margin-left: 40px;
	transition: 1s;
}

div.social {
	margin-left: auto;
}

.icon {
	width: 35px;
	height: 28px;
	margin-left: auto;
	margin-right: 0px;

}

a.menuid {
	transition: 1s;
}


h1.h1noemie {
	margin-top: 100px;
	font-size: 100px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 0px;
	width: 40%;
	transition: 1s;

}

h1.h1noemie:hover {
	letter-spacing: 50px;
	transition: 2s;
}

p.h1bottom {
	font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    color: #333333;
    letter-spacing: 0.1em;
    margin-top: 10px;
    margin-bottom: 40px;

}

.menu-btn {
	background: #E9A5A5;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 50px;
    text-decoration: none;
    color: black;
    font-weight: bold;    
}



.menu-btn:hover {
	transition: 2s;
	background-color: #A0DBE8;
}

div.right {
	float: right;

}

img.img {
	width: 100%;


}


img.line {
	padding-top: 100px;
	text-align: center;
	align-items: center;
	margin: 0 auto;

}

div.menutxt {
	text-align: center;
	margin-top: 2vmax;
}

img.menutxt {
	width: 20vmax;

}

div.c2body2 {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 30px;

}

div.c2 {
	display: flex;
	margin-left: 10%;
	margin-right: 7%;
	margin-top: 50px;
}

div.c2-boxgreen {
	width: 200px;
	height: 250px;
	margin: 0 auto;
	padding-top: 50px;
	border-radius: 10px;
}

div.c2-boxgreen:hover {
	transition: 0.5s;
	background-color: #c4eacf;
}

div.c2-boxred {
	width: 200px;
	height: 250px;
	margin: 0 auto;
	padding-top: 50px;
	border-radius: 10px;
}

div.c2-boxred:hover {
	transition: 0.5s;
	background-color: #e9a5a5;
}


div.c2-boxorange {
	width: 200px;
	height: 250px;
	margin: 0 auto;
	padding-top: 50px;
	border-radius: 10px;
}

div.c2-boxorange:hover {
	transition: 0.5s;
	background-color: #ffdeb8;
}

div.c2-boxviolet {
	width: 200px;
	height: 250px;
	margin: 0 auto;
	padding-top: 50px;
	border-radius: 10px;
}

div.c2-boxviolet:hover {
	transition: 0.5s;
	background-color: #cab8e8;
}

div.c2-boxblack {
	width: 200px;
	height: 250px;
	margin: 0 auto;
	padding-top: 50px;
	border-radius: 10px;
}

div.c2-boxblack:hover {
	transition: 0.5s;
	background-color: #c5c5c5;
}

div.syruplist {
	text-align: center;


}


div.c3 {
	margin-top: 50px;
}

div.c3-boxabout {
	background-color: #1829C3;
	opacity: 0.7;
	width: 100%;
	height: 500px;
	margin: 0 auto;
}

div.copyright {
	width: 100%;
	height: 30px;
	margin-top: 30px;
	text-align: center;
}

a.bylink {
	color: #8c94e1;
	text-decoration: none;
	font-family: Arial;
	font-weight: bold;
}

a.bylink:hover {
	color: silver;
	text-decoration: none;
	
}

div.scrollup a {
	float: right;
	margin-right: 10px;
	color: #5d69d5;
	text-decoration: none;
	background-color: white;
	margin-top: 10px;
	border: 2px white solid;
	border-radius: 10px;
	padding: 50px;

}


 @media screen and (max-width: 961px) {
  .right {
  	margin-top: 50px;
  }

  .header {
  	margin-top: 15px;
  }
  img.line {
  	padding-top: 0px;
  	padding-right: 8px;

  }
  div.c2 {
  	display: block;
  }

  .nav {
  	display: none;
  }


  h1.h1noemie {
  	font-size:  80px;
  	margin-top: 0px;
  }



}

